.cardList {
  height: 340px;
  overflow: auto;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem 0 1rem;
  background-color: #eee;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.card {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  padding: 1rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  border-radius: 4px;
  background-color: #fff;
}

.card:hover,
.card:active {
  background-color: #eee;
}

.card > a {
  color: #4a54e6;
}

.card > a:hover,
.card > a:active {
  color: #3641e7;
  text-decoration: underline;
}

.input {
  border: 1px solid #ccc;
  width: 100%;
  font-size: 1.3rem;
  padding: 0.8rem;
  border-radius: 4px;
  margin: 20px 0;
  outline: none;
  text-align: center;
}

.input:focus {
  box-shadow: 0 0 10px rgba(204, 204, 204, 0.8);
}

.message,
.error {
  text-transform: uppercase;
  text-align: center;
}

.message {
  color: green;
}

.error {
  color: red;
}

.button {
  padding: 0;
  border: none;
  background-color: #4a54e6;
  padding: 0.8rem; 
  font-size: 1.1rem;
  border-radius: 4px;
  color: #fff;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.button:hover {
  background-color: #5a63e2;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.8);
}

.button:active {
  background-color: #3641e7;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}